[submodule "mikee47.sming"]
	path = Sming
	url = https://github.com/mikee47/Sming
	branch = dev/Sming-rgbww
[submodule "Components/RGBWWLed"]
	path = Components/RGBWWLed
	url = https://github.com/mikee47/RGBWWLed.git
	branch = update/Sming-3.9
