sudo: false
language: cpp
os:
  - linux
env:
  global:
    # "borrow" from nodemcu guys
    - ESP_OPEN_SDK_BIN: https://github.com/nodemcu/nodemcu-firmware/raw/2d958750b56fc60297f564b4ec303e47928b5927/tools/esp-open-sdk.tar.xz
    - DEPLOY_DIR: $TRAVIS_BUILD_DIR/deploy
    - ARTIFACTS_DIR: $TRAVIS_BUILD_DIR/out/firmware

addons:
  apt:
    packages: make unrar-free autoconf automake libtool gcc g++ gperf flex bison texinfo gawk ncurses-dev libexpat-dev python-dev python python-serial sed git unzip bash help2man wget bzip2
    
install:
  - $TRAVIS_BUILD_DIR/.travis/build_sming.sh
    
script:
  - cd $TRAVIS_BUILD_DIR
  - echo Building esp_rgbww_firmware...
  - ESP_HOME=$TRAVIS_BUILD_DIR/esp-open-sdk SMING_HOME=$TRAVIS_BUILD_DIR/Sming/Sming SDK_BASE=$TRAVIS_BUILD_DIR/Sming/Sming/third-party/ESP8266_NONOS_SDK make all
  
after_success:
  - export DEPLOY_FILENAME=esp_rgbww_firmware_snapshot_$(date "+%Y%m%d-%H%M%S")_$TRAVIS_COMMIT.tgz
  - mkdir "$DEPLOY_DIR"
  - echo Switching to artifacts directory: $ARTIFACTS_DIR
  - cd $ARTIFACTS_DIR
  - sh $TRAVIS_BUILD_DIR/.travis/create_info.sh info.txt
  - cat info.txt
  - tar cvfz $DEPLOY_DIR/$DEPLOY_FILENAME *
  # eventually deploy as release (if is tag)
  - $TRAVIS_BUILD_DIR/.travis/deploy_release.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: false
  on:
    branch: master
  target_branch: buildbot
  local_dir: $DEPLOY_DIR
