sudo: false
language: cpp
os:
  - linux
env:
  global:
    # "borrow" from nodemcu guys
    - ESP_OPEN_SDK_BIN: https://github.com/nodemcu/nodemcu-firmware/raw/2d958750b56fc60297f564b4ec303e47928b5927/tools/esp-open-sdk.tar.xz
    - secure: "qGecAiLo1XN5MIm8hDur25XBfsRoZ/leWiRvD4SrEBS+VxLPsoEpojtBBk4ShWav6ACNbLSycnbsgJz3USgfchN8shJqfrjU2tjx9EgAYY0y2ZFjwPWBPiHrWqjRA/18AeSw57uVs32ALpUX1hrBwZ2W1NxIUwIGSS0itN/ixQIqL0vqE6USJg7AIoQ/aLW8g3aQmfyYrwbPHVfym5U+BSMPgrIbSufCeiAGogkmRvWmgcw+Hf2vMPJkgtOvZU/vqkY/IHBgS/nEVZNOtZmEzQhcCogHGtDCXhA9uPvTqCXJ7ndcApm5vXK+K3Ua4B5IGk264w+j+kr75qF49kdoogYJjNbW8C+1zeuosNIgYiISSZTV5aWnmLUSodKhBgLKIeu3PKHa3Yc3jynMF0rHTfTsJYejYuEGguMsn6e8lzsZLt5CGyY3MGhdFefx71VPshQN/6D2MLmOjn0gAmqIIBWV54fbxCYE6l7Fso5F9Br/PiyEZhziGjW7YbV5Docr7hupqcTTgvC2V5tQbj65ynV96FOrCdGycQ3DKCGBNTMOfz43fvFC/eGKCKJZn7eFX2jlWHBq1Ix5N6a32OisLANx2k7g7QTNw1NDbbs/Z2Lb3Yld2swa543N5Zq/FVxRNaCcyTqn2R3FBv0OkYhmhNyK+Eeb4/UUCNdSot6mHvU="
    - DEPLOY_DIR: $TRAVIS_BUILD_DIR/deploy
    - ARTIFACTS_DIR: $TRAVIS_BUILD_DIR/out/firmware

before_install:
  # for esp-open-sdk
  - sudo apt-get install -y make unrar-free autoconf automake libtool gcc g++ gperf flex bison texinfo gawk ncurses-dev libexpat-dev python-dev python python-serial sed git unzip bash help2man wget bzip2

before_install:
  # for esp-open-sdk
  - sudo apt-get install -y make unrar-free autoconf automake libtool gcc g++ gperf flex bison texinfo gawk ncurses-dev libexpat-dev python-dev python python-serial sed git unzip bash help2man wget bzip2
  
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:     
      - bsdtar
install:
  - wget --no-verbose $ESP_OPEN_SDK_BIN
  - tar -Jxvf esp-open-sdk.tar.xz
  - ls esp-open-sdk
  - export ESP_HOME=$TRAVIS_BUILD_DIR/esp-open-sdk
  - export SMING_HOME=$TRAVIS_BUILD_DIR/Sming/Sming
  - export SDK_BASE=$TRAVIS_BUILD_DIR/Sming/Sming/third-party/ESP8266_NONOS_SDK
<<<<<<< HEAD
  - cd $SMING_HOME
  - rm -rf samples
  - make

=======
  #- export PATH=$PATH:$TRAVIS_BUILD_DIR/Sming/opt/esp-alt-sdk/utils/
  - cd $SMING_HOME
  - rm -rf samples
  - make
    
>>>>>>> origin/master
script:
  - cd $TRAVIS_BUILD_DIR
  - echo Building firmware...
  - make all
<<<<<<< HEAD

after_success:
  - export DEPLOY_FILENAME=esp_rgbww_firmware_snapshot_$(date "+%Y%m%d-%H%M%S")_$TRAVIS_COMMIT.tgz
  - mkdir "$DEPLOY_DIR"
  - echo Switching to artifacts directory: $ARTIFACTS_DIR
  - cd $ARTIFACTS_DIR
  - sh $TRAVIS_BUILD_DIR/.travis/create_info.sh info.txt
  - cat info.txt
  - tar cvfz $DEPLOY_DIR/$DEPLOY_FILENAME *
  #- bash deploy.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: false
  on:
    branch: travis
  target_branch: buildbot
  local_dir: $DEPLOY_DIR
=======
  
after_success: 
  - bash .travis/deploy.sh
   
>>>>>>> origin/master
