name: Build Container

on:
    schedule:
        - cron: '0 0 * * *'  # Runs daily at midnight UTC

jobs:
    check-updates:     
        runs-on: ubuntu-latest
        outputs:
          updated: ${{ steps.check.outputs.updated }}
        steps:
          - name: Check for updates in sminghub/sming
            id: check
            run: |
              latest_commit=$(curl -s "https://api.github.com/repos/SmingHub/Sming/commits/develop" | jq -r '.[0].commit.committer.date')
              latest_commit_date=$(date -d "$latest_commit" +%s)
              current_date=$(date +%s)
              difference=$(( (current_date - latest_commit_date) / 86400 ))
              if [ $difference -le 1 ]; then
                echo "::set-output name=updated::true"
              else
                echo "::set-output name=updated::false"
              fi
  build:
    runs-on: ubuntu-latest
    needs: check-updates
    if: needs.check-updates.outputs.updated == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: pjakobs/sming:latest
